html, body {
   width: 100%;
   height: 100%;
}
body {
   background: url('../images/background.png') repeat;
}
.container-center {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}
.inner-center {
   position: relative;
}
#page-title {
   position: relative;
   top: 120px;
   font-weight: 100;
   color: #a9a9a9;
   text-shadow: 0 2px 0 #fff;
}
#steps {
   height: 20px;
   max-height: 20px;
   overflow: visible;

   .logo {
      top: -20px;
   }
   .step {
      text-align: center;
      text-decoration: none;

      span {
         padding: 13px;
         border-radius: 100%;
         background-color: white;
         top: -36px;
         width: 50px;
         height: 50px;
         position: relative;
         display: inline-block;
         box-shadow: 0 2px 4px rgba(0,0,0,.3);
         font-weight: 900;
         color: black;
      }

      p {
         padding: 13px;
         background-color: white;
         height: 50px;
         border-radius: 10px;
         position: relative;
         top: 30px;
         box-shadow: 0 2px 8px rgba(0,0,0,.5);
         font-weight: 900;
         visibility: hidden;
      }

      &.active, &:hover {
         transform: scale(1.2);

         span {
            box-shadow: 0 2px 8px rgba(0,0,0,.5);
         }
      }
      &.inactive {
         cursor: not-allowed;

         span {
            background-color: rgb(216, 216, 216);
            color: rgb(87, 87, 87);
         }

         p {
            background-color: rgb(216, 216, 216);
            color: rgb(87, 87, 87);
         }
      }
      &.inactive:hover {
         transform: scale(1);

         span {
            box-shadow: 0 2px 4px rgba(0,0,0,.3);
         }
      }
   }
}
#home-page {
   .polaroid-styles {
      position: absolute;
      width: 400px;
      height: auto;
      opacity: .5;
   }
   #style-1 {
      top: -100px;
      left: 150px;
      transform: rotate(-10deg);
   }
   #style-2 {
      top: -100px;
      right: 150px;
      transform: rotate(10deg);
   }
   #style-3 {
      bottom: -100px;
      left: 150px;
      transform: rotate(-15deg);
   }
   #style-4 {
      bottom: -100px;
      right: 150px;
      transform: rotate(15deg);
   }
   .language-link {
      img {
         &:hover {
            transform: scale(1.2);
         }
      }
   }
}
#step-style-choices {
   .polaroid-styles {
      position: absolute;
      width: 400px;
      height: auto;
   }
   #style-1 {
      top: -50px;
      left: 180px;
      transform: rotate(-10deg);
      z-index: 300;
   }
   #style-2 {
      top: -50px;
      right: 180px;
      transform: rotate(10deg);
      z-index: 300;
   }
   #style-3 {
      bottom: -50px;
      left: 180px;
      transform: rotate(-15deg);
      z-index: 200;
   }
   #style-4 {
      bottom: -50px;
      right: 180px;
      transform: rotate(15deg);
      z-index: 200;
   }
   .style-link {
      &:hover {
         img {
            transform: rotate(0) scale(1.2) !important;
            z-index: 400 !important;
         }
      }
   }
}
#step-capture {
   .polaroid {
      background-color: white;
      box-shadow: 0 3px 15px rgba(0,0,0,.4);
      padding: 20px 20px 8px;
      border-radius: 5px;

      a {
         border-color: transparent;
         color: #fff;
         font-weight: 900;

         &:hover {
            transform: scale(2.0) rotate(15deg);
            box-shadow: 0 2px 4px rgba(0,0,0,.3);
         }
      }
   }
   #webcam {
      width: 100%;
   }
}
#step-processing {
   .step-of-process {
      display: none;
   }
   #loading-processing {
      margin: 0;
      font-size: 30px;
      font-weight: 900;
   }
}
#step-result {
   #result-link {
      font-weight: 900;
   }
}